.cabecalho {
  min-height: 300px;
  background-color: #192C53; }
  .cabecalho .logo {
    text-align: center; }
    .cabecalho .logo img {
      width: 130px !important;
      height: 100px !important; }
  .cabecalho .banner {
    text-align: center; }
    .cabecalho .banner img {
      width: 100%;
      height: 600px; }

.corpo .titulo {
  color: #192C53;
  font-weight: bold; }

.corpo .container .row {
  padding: 10px;
  box-shadow: 1px 1px 1px 3px #e2e2e2; }
  .corpo .container .row .col-4 {
    text-align: center; }
    .corpo .container .row .col-4 img {
      width: 180px;
      height: 180px; }
    .corpo .container .row .col-4 .font-produto {
      color: #666666;
      text-align: center;
      line-height: 14px;
      margin-bottom: 20px; }
    .corpo .container .row .col-4 .de-preco {
      text-decoration-line: line-through;
      color: #747474;
      font-weight: bold;
      line-height: 14px;
      margin-bottom: 0px; }
    .corpo .container .row .col-4 .por-preco {
      color: #192C53;
      font-weight: 900;
      font-size: 24px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .corpo .container .row .col-4 .desconto {
      font-weight: 500;
      font-size: 10px;
      color: #192C53; }

footer {
  padding: 10px;
  height: 200px; }
  footer h3 {
    text-align: center;
    color: #192C53;
    font-weight: bold; }
  footer div {
    background-color: #192C53; }
    footer div .redes {
      text-align: center; }
      footer div .redes img {
        margin-top: 20px;
        padding: 10px;
        width: 70px; }
